{
  "twitterConsumerKey": "consumer key",
  "twitterConsumerSecret": "consumer secret",
  "twitterAccessToken": "access token",
  "twitterSecretToken": "secret token",
  "twitterScreenName": "screen name"
}